services:
  container-test:
    image: ragedunicorn/container-test:${CONTAINER_STRUCTURE_TEST_VERSION:-latest}
    volumes:
        - ./test/:/test
        - /var/run/docker.sock:/var/run/docker.sock
    command: ["--image", "[image_to_test]", "--config", "/test/[application_test].yml"]
    labels:
      org.opencontainers.image.title: "Container Structure Test - Basic Tests"
      org.opencontainers.image.description: "Running container structure validation tests"
      org.opencontainers.image.vendor: "ragedunicorn"
  container-test-metadata:
    image: ragedunicorn/container-test:${CONTAINER_STRUCTURE_TEST_VERSION:-latest}
    volumes:
        - ./test/:/test
        - /var/run/docker.sock:/var/run/docker.sock
    command: ["--image", "[image_to_test]", "--config", "/test/[application_metadata_test].yml"]
    labels:
      org.opencontainers.image.title: "Container Structure Test - Basic Tests"
      org.opencontainers.image.description: "Running container structure validation tests"
      org.opencontainers.image.vendor: "ragedunicorn"
  container-test-command:
    image: ragedunicorn/container-test:${CONTAINER_STRUCTURE_TEST_VERSION:-latest}
    volumes:
        - ./test/:/test
        - /var/run/docker.sock:/var/run/docker.sock
    command: ["--image", "[image_to_test]", "--config", "/test/[application_command_test].yml"]
    labels:
      org.opencontainers.image.title: "Container Structure Test - Basic Tests"
      org.opencontainers.image.description: "Running container structure validation tests"
      org.opencontainers.image.vendor: "ragedunicorn"